:root {
    /* Colors */
    --color-primary: #b95e2b;
    --color-text: #fcfcfc;
    --color-white: #fff;
    --color-title: #b95e2b;
    --color-background: #f7f8fb;
    --color-border: #dae1f5;
  
    /* Fonts */
    --font-family: "Satoshi", sans-serif;
    --fs-sm: 1.4rem;
    --fs-md: 1.6rem;
    --fs-lg: 2.2rem;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
  
    /* Transition & Box Shadow */
    --transition: 0.4s ease-in-out;
    --shadow: 0px 60px 56px -12px rgba(9, 40, 163, 0.05);
  }
  
  html {
 
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* box-sizing: content-box; */
  }
  
  body {

  }
  
  .container {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    padding: 2rem;
    display: grid;
    place-items: center;
  }
  
  .accordion__wrapper {
    background-color: transparent;
    box-shadow: var(--shadow);
    width: 100%;
    padding: 5rem;
    font-size: 62.5%;

    font-family: var(--font-family);
    color: var(--color-text);
    font-size: var(--fs-md);
    font-weight: var(--fw-regular);
  }
  
  .accordion__title {
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
    color: var(--color-title);
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .accordion {
    border-bottom: 0.1rem solid var(--color-border);

  }

  .centro{
    display: flex;
    align-items: center;
  }
  
  .accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }
  
  .accordion__icon {
    background-color: var(--color-primary);
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--color-white);
    flex-shrink: 0;
  }
  
  .accordion__question {
    font-size: var(--fs-md);
    font-weight: var(--fw-medium);
    color: var(--color-title);
  }
  
  .accordion__answer {
    padding: 2rem 0;
  }
  
  .accordion__content {
    overflow: hidden;
    height: 0;
    transition: var(--transition);
  }
  
  .privacy_heading{
    color: var(--color-primary);
  }

  .stuff .clients-testimonials{
    padding: 0;
    margin-bottom: 1.5rem;
  }

  .stuff p{
    margin-bottom: 1.5rem;
  }

  .stuff-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.6rem;
  }

  @media screen and (min-width: 580px) {
    .accordion__wrapper {
      padding: 5rem 8rem;
    }
  }
  