body
{
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}
.nav{
    background: black;
    color: #FFF;
    display: flex
}
.nav .logo{
    font-size: 10px;
    padding: 20px;
    margin-left: 25px
}
.nav .logo a{
    color: #FFF;
    text-decoration: none
}
.nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    width: 65%;
    margin-left: auto
}
.nav ul li{
    padding: 20px;
    list-style: none
}
.nav ul li a{
    color: #FFF;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold
}
.sticky{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%
}

.secondBar{
    display: none;
}

.navbar__list{
    color: rgba(255, 255, 255, 0.25);
    font-family: "montserrat-light", sans-serif;
    font-size: 1.4rem;
}

@media only screen and (max-width: 1200px) {
    .firstBar{
        display:none;
    }

    .secondBar{
        display: block;
    }
}
