<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

{%include "components/header.html"%}

<body id="top" class="hero">

    <!-- header
    ================================================== -->
    {% include "components/navbar.html" %}

    <!-- SPOTIFY SECTION CONTENT
    ================================================== -->
    <section style="padding-bottom: 0;" id="contact" class="s-contact">

        <div class="overlay"></div>
        <div class="contact__line"></div>
    
        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h1 class="display-2 display-2--light">Apple Music Marketing</h1>
            </div>
        </div>
    </section>

    <section>
        <div class="accordion__wrapper">
            <div class="youtube-content stuff">
                <p>
                    Welcome to our spot for Apple Music campaigns, where we amp up your streams using Meta Ads and playlisting. We're all about making sure your tracks get heard by the right crowd at just the right time.                </p>
                <div class="row clients-testimonials" data-aos="fade-up">
                    <div class="col-full">
                        <div class="testimonials spotify-testimonial">

                            <div>
                                <img src="../static/images/spotify/one.png" alt="Author image">
                            </div>
        
                            <div>
                                <img src="../static/images/spotify/two.png" alt="Author image">
                            </div>
        
                            <div>
                                <img src="../static/images/spotify/three.png" alt="Author image">
                            </div>
        
                            <div>
                                <img src="../static/images/spotify/four.png" alt="Author image">
                            </div>
        
                            <div>
                                <img src="../static/images/spotify/five.png" alt="Author image">
                            </div>
                            
                        </div><!-- end testimonials -->
                        
                    </div> <!-- end col-full -->
                </div> <!-- end client-testimonials -->
                <div class="stuff-button">
                    <a href="./plans" class="btn btn--stroke">Start a Campaign</a>
                </div>

                <p>
                    With Meta Ads, we target your music to listeners who are most likely to vibe with your sound. This means more engagement, more fans, and more buzz around your tunes.                </p>
                <div class="row clients-testimonials" data-aos="fade-up">
                    <div class="col-full">
                        <div class="testimonials spotify-testimonial">

                            <div>
                                <img src="../static/images/spotify/one.png" alt="Author image">
                            </div>
        
                            <div>
                                <img src="../static/images/spotify/two.png" alt="Author image">
                            </div>
        
                            <div>
                                <img src="../static/images/spotify/three.png" alt="Author image">
                            </div>
        
                            <div>
                                <img src="../static/images/spotify/four.png" alt="Author image">
                            </div>
        
                            <div>
                                <img src="../static/images/spotify/five.png" alt="Author image">
                            </div>
                            
                        </div><!-- end testimonials -->
                        
                    </div> <!-- end col-full -->
                </div> <!-- end client-testimonials -->
                <div class="stuff-button">
                    <a href="./plans" class="btn btn--stroke">Start a Campaign</a>
                </div>

                <p>
                    Plus, our playlisting strategy puts your songs alongside the hottest tracks on Apple Music. It's all about getting you discovered and boosting those stream numbers organically.                </p>
                <div class="row clients-testimonials" data-aos="fade-up">
                    <div class="col-full">
                        <div class="testimonials spotify-testimonial">

                            <div>
                                <img src="../static/images/spotify/one.png" alt="Author image">
                            </div>
        
                            <div>
                                <img src="../static/images/spotify/two.png" alt="Author image">
                            </div>
        
                            <div>
                                <img src="../static/images/spotify/three.png" alt="Author image">
                            </div>
        
                            <div>
                                <img src="../static/images/spotify/four.png" alt="Author image">
                            </div>
        
                            <div>
                                <img src="../static/images/spotify/five.png" alt="Author image">
                            </div>
                            
                        </div><!-- end testimonials -->
                        
                    </div> <!-- end col-full -->
                </div> <!-- end client-testimonials -->
                <div class="stuff-button">
                    <a href="./plans" class="btn btn--stroke">Start a Campaign</a>
                </div>

                <p>
                    Ready to take your music to the next level? Let's dive in and see how we can make your Apple Music campaign a hit.                </p>
            </div>
        </div>
    </section>

    <!-- footer
    ================================================== -->
    {% include "components/footer.html" %}


    <!-- preloader
    ================================================== -->
    {% include "components/loader.html" %}


    <!-- Java Script
    ================================================== -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/jquery.sticky.js"></script>
    <script src="../static/js/main2.js"></script>
    <script src="../static/js/nav_script.js"></script>
</body>

</html>