<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

{%include "components/header.html"%}

<body id="top" class="hero">

    <!-- header
    ================================================== -->
    {% include "components/navbar.html" %}

    <section style="padding-bottom: 0;" id="contact" class="s-contact">

        <div class="overlay"></div>
        <div class="contact__line"></div>
    
        <div class="row section-header">
            <div class="col-full">
                <h3 class="subhead">FAQ</h3>
                <h1 class="display-2 display-2--light">Frequntly Asked questions</h1>
            </div>
        </div>
    </section>

    <!--FAQ SECTION HTML-->

    {% include "components/faq_accordion.html" %}

   
    <!-- footer
    ================================================== -->
    {% include "components/footer.html" %}


    <!-- preloader
    ================================================== -->
    {% include "components/loader.html" %}


    <!-- Java Script
    ================================================== -->
    <!-- <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/jquery.sticky.js"></script>
    <script src="../static/js/main2.js"></script>
    <script src="../static/js/nav_script.js"></script>
    <script src="../static/js/faq_script.js"></script> -->
    <script src="../static/js/alone.js"></script>
</body>

</html>