<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

{% include "components/header.html" %}

<body id="top">

    <!-- header
    ================================================== -->
    {% include "components/navbar.html" %}

    <section style="padding-bottom: 0;" id="contact" class="s-contact">

        <div class="overlay"></div>
        <div class="contact__line"></div>
    
        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Plans And Pricing</h3>
                <h1 class="display-2 display-2--light">Choose the most suitable plan</h1>
            </div>
        </div>
    </section>
    <!-- Plan Section
    ================================================== -->
    <section class="plans__container">
        <div class="plans">
            <div class="planItem__container">
      
                <!--Sound Cloud plan starts -->
                <div class="planItem planItem--entp">
                    <div class="card">
                        <div class="card__header">
                        <div class="card__icon"></div>
                        <h2>Sound Cloud Plan</h2>
                        </div>
                        <div class="card__desc">Soundcloud Growth Campaign</div>
                    </div>
            
                    <div style="font-size: 40px; justify-content: center;" class="price">$150<span style="font-size: 28px;color: white;">/month</span></div>

            
                    <ul class="featureList">
                        <li>Soundcloud Campaign (2-3 Tracks)</li>
                        <li>Growth of Soundcloud Streams</li>
                        <li>Increased Number of Playlist Placement</li>
                        <li>Soundcloud Demographic Targeted Plays</li>
                        <li>New Reach To Your Songs/Playlists</li>
                        <li>Trend Within Your Niche Genre</li>
                    </ul>
            
                    <button id="sound-cloud-plan-button" class="button button--white">Buy Now</button>
                </div>
                <!--entp plan ends -->

                <!--Genius Blog plan starts -->
                <div class="planItem planItem--entp">
                    <div class="card">
                        <div class="card__header">
                            <div class="card__icon"></div>
                            <h2>Genius Blog</h2>
                        </div>
                        <div class="card__desc">Full Blog With Lyrics Posted For Ultimate PR</div>
                    </div>
                
                    <div style="font-size: 40px; justify-content: center;" class="price">$100<span style="font-size: 28px;color: white;">/month</span></div>
                
                    <ul class="featureList">
                        <li>350-500 Word Article</li>
                        <li>Custom Genius Profile</li>
                        <li>Lyrics Published (1 Track)</li>
                        <li>Gives Ranking on Google</li>
                        <li>Music Video Published On Genius</li>
                    </ul>
                
                    <button id="genius-blog-button" class="button button--white">Buy Now</button>
                </div>
                
                <!--entp plan ends -->

                <!--Youtube plan starts -->
                <div class="planItem planItem--entp">
                    <div class="card">
                        <div class="card__header">
                            <div class="card__icon"></div>
                            <h2>YouTube Plan</h2>
                        </div>
                        <div class="card__desc">Exclusive YouTube Campaign</div>
                    </div>
                
                    <div style="font-size: 40px; justify-content: center;" class="price">$360<span style="font-size: 28px;color: white;">/month</span></div>

                
                    <ul class="featureList">
                        <li>YouTube Campaign (2-3 Tracks)</li>
                        <li>30 Day Algorithm Growth</li>
                        <li>Custom Target & Marketing Engagement</li>
                        <li>YouTube Channel Growth with Subscribers</li>
                    </ul>
                
                    <button id="youtube-plan-button" class="button button--white">Buy Now</button>
                </div>
                
                <!--entp plan ends -->
      
            </div>
                    
        </div>
    </section>

    <section class="plans__container">
        <div class="plans">
            <div class="planItem__container">
      
                <!--Spotify plan starts -->
                <div class="planItem planItem--entp">
                    <div class="card">
                        <div class="card__header">
                            <div class="card__icon"></div>
                            <h2>Spotify Plan</h2>
                        </div>
                        <div class="card__desc">Spotify Algorithm Cracked Campaign</div>
                    </div>
                
                    <div style="font-size: 40px; justify-content: center;" class="price">$300<span style="font-size: 28px;color: white;">/month</span></div>
                
                    <ul class="featureList">
                        <li>30 Day Spotify Custom Campaign (3 Tracks)</li>
                        <li>3-10 Spotify Placements (500K+)</li>
                        <li>Widescale Facebook Ad Campaign</li>
                        <li>Spotify Follower Campaign</li>
                        <li>Spotify Royalty Growth</li>
                    </ul>
                
                    <button id="spotify-plan-button" class="button button--white">Buy Now</button>
                </div>
                
                <!--entp plan ends -->

                <!--Gold plan starts -->
                <div class="planItem planItem--entp">
                    <div class="card">
                        <div class="card__header">
                            <div class="card__icon"></div>
                            <h2>Gold Plan</h2>
                        </div>
                        <div class="card__desc">Perfect Marketing Plan To Start Growing</div>
                    </div>
                
                    <div style="font-size: 40px; justify-content: center;" class="price">$500<span style="font-size: 28px;color: white;">/month</span></div>
                
                    <ul class="featureList">
                        <li>Complete Spotify Campaign (2 Tracks)</li>
                        <li>Complete Soundcloud OR YouTube Campaign (2 Tracks)</li>
                        <li>Music Algorithmic Growth</li>
                        <li>Personal Social Media Campaign</li>
                        <li>Personal Brand Manager</li>
                    </ul>
                
                    <button id="gold-plan-button" class="button button--white">Buy Now</button>
                </div>
                
                <!--entp plan ends -->

                <!--Platinum plan starts -->
                <div class="planItem planItem--entp">
                    <div class="card">
                        <div class="card__header">
                            <div class="card__icon"></div>
                            <h2>Platinum Plan</h2>
                        </div>
                        <div class="card__desc">Perfect For Accounts Looking to Have a Core Following</div>
                    </div>
                
                    <div style="font-size: 40px; justify-content: center;" class="price">$650<span style="font-size: 28px;color: white;">/month</span></div>
                
                    <ul class="featureList">
                        <li>Complete Spotify Campaign (2 Tracks)</li>
                        <li>Complete Soundcloud Campaign (2 Tracks)</li>
                        <li>Complete YouTube Campaign (2 Tracks)</li>
                        <li>Custom Personalized Cover Art Edits</li>
                        <li>Personal Social Media Campaign</li>
                        <li>Personal Brand Manager</li>
                    </ul>
                
                    <button id="platinum-plan-button" class="button button--white">Buy Now</button>
                </div>
                
                <!--entp plan ends -->
      
            </div>
                    
        </div>
    </section>

    <section class="plans__container">
        <div class="plans">
            <div class="planItem__container">
      
                <!--Nexuss plan starts -->
                <div class="planItem planItem--entp">
                    <div class="card">
                        <div class="card__header">
                            <div class="card__icon"></div>
                            <h2>Nexuss Plan</h2>
                        </div>
                        <div class="card__desc">Recommended For an Account With a Strong Fanbase</div>
                    </div>
                
                    <div style="font-size: 40px; justify-content: center;" class="price">$799<span style="font-size: 28px;color: white;">/month</span></div>
                
                    <ul class="featureList">
                        <li>30 Day Spotify Campaign (4 Tracks)</li>
                        <li>30 Day Soundcloud Marketing Campaign (5 Tracks)</li>
                        <li>30 Day YouTube Marketing Campaign (3 Tracks)</li>
                        <li>Custom Targeting & Marketing</li>
                        <li>Genius Article Post with Custom Genius Profile</li>
                        <li>Photo & Video Editors</li>
                        <li>Customized IGTV & Reel Branding</li>
                        <li>Create Your Cover Art / Promo Posts</li>
                        <li>Press Release Writing & Blog Posts</li>
                        <li>Provide Analytics & Results of Your Growth</li>
                        <li>Personal Brand Manager</li>
                        <li>Weekly Calls With the Manager to Discuss Growth</li>
                    </ul>
                
                    <button id="nexuss-plan-button" class="button button--white">Buy Now</button>
                </div>
                
                <!--entp plan ends -->

                <!--Diamond plan starts -->
                <div class="planItem planItem--entp">
                    <div class="card">
                        <div class="card__header">
                            <div class="card__icon"></div>
                            <h2>Diamond Plan</h2>
                        </div>
                        <div class="card__desc">The Ultimate Plan For MAX Growth</div>
                    </div>
                
                    <div style="font-size: 40px; justify-content: center;" class="price">$999<span style="font-size: 28px;color: white;">/month</span></div>
                
                    <ul class="featureList">
                        <li>30-45 Minutes Exclusive Podcast</li>
                        <li>Customized Content For All Platforms</li>
                        <li>Complete Spotify Campaign (5 Tracks)</li>
                        <li>Spotify Curation & Playlisting</li>
                        <li>500K Reach Spotify Campaign</li>
                        <li>Complete YouTube Campaign (4 Tracks)</li>
                        <li>Viral YouTube Campaign Strategy</li>
                        <li>Create Your Cover Art / Promo Posts</li>
                        <li>Press Release Writing & Blog Posts</li>
                        <li>Provide Analytics & Results of Your Growth</li>
                        <li>Personal Brand Manager</li>
                        <li>Weekly Calls With the Manager to Discuss Growth</li>
                    </ul>
                
                    <button id="diamond-plan-button" class="button button--white">Buy Now</button>
                </div>
                
                <!--entp plan ends -->
      
            </div>
                    
        </div>
    </section>
    <!-- footer
    ================================================== -->
    {% include "components/footer.html" %}


    <!-- preloader
    ================================================== -->
    {% include "components/loader.html" %}


    <!-- Java Script
    ================================================== -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/jquery.sticky.js"></script>
    <script src="../static/js/main2.js"></script>
    <script src="../static/js/nav_script.js"></script>
    <script src="https://js.stripe.com/v3"></script>
    <script src="../static/js/payment_script.js"></script>
</body>

</html>