<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

{%include "components/header.html"%}

<body id="top" class="hero">

    <!-- header
    ================================================== -->
    {% include "components/navbar.html" %}

    <!-- SPOTIFY SECTION CONTENT
    ================================================== -->
    <section style="padding-bottom: 0;" id="contact" class="s-contact">

        <div class="overlay"></div>
        <div class="contact__line"></div>
    
        <div class="row section-header">
            <div class="col-full">
                <h1 class="display-2 display-2--light">Press Release Services</h1>
            </div>
        </div>
    </section>

    <section>
        <div class="accordion__wrapper">
            <div class="youtube-content stuff">
                <p>
                    Considering a press release? Trust our expertise backed by over 1000 successful press releases for artists like yours. We specialize in crafting compelling narratives that amplify your story, ensuring maximum exposure and impact across media channels.                
                </p>
                <div class="row clients-testimonials" data-aos="fade-up">
                    <div class="col-full">
                        <div class="testimonials spotify-testimonial">

                            <div>
                                <img src="../static/images/press-release/one.jpg" alt="Author image">
                            </div>
        
                            <div>
                                <img src="../static/images/press-release/two.jpg" alt="Author image">
                            </div>
        
                            <div>
                                <img src="../static/images/press-release/three.jpg" alt="Author image">
                            </div>
                            <div>
                                <img src="../static/images/press-release/eleven.jpg" alt="Author image">
                            </div>
                            
                        </div><!-- end testimonials -->
                        
                    </div> <!-- end col-full -->
                </div> <!-- end client-testimonials -->
                <div class="stuff-button">
                    <a href="./plans" class="btn btn--stroke">Start a Campaign</a>
                </div>

                <p>
                    At Nexuss, we understand the importance of standing out in a crowded industry. With our proven track record, we've helped artists gain visibility, attract new audiences, and solidify their presence in the music world. Our team of experienced writers and PR professionals knows how to tailor your message to resonate with journalists, influencers, and music enthusiasts alike.                
                </p>
                <div class="row clients-testimonials" data-aos="fade-up">
                    <div class="col-full">
                        <div class="testimonials spotify-testimonial">

                            <div>
                                <img src="../static/images/press-release/four.jpg" alt="Author image">
                            </div>
        
                            <div>
                                <img src="../static/images/press-release/five.jpg" alt="Author image">
                            </div>
        
                            <div>
                                <img src="../static/images/press-release/six.jpg" alt="Author image">
                            </div>
                            <div>
                                <img src="../static/images/press-release/eleven.jpg" alt="Author image">
                            </div>
                            
                        </div><!-- end testimonials -->
                        
                    </div> <!-- end col-full -->
                </div> <!-- end client-testimonials -->
                <div class="stuff-button">
                    <a href="./plans" class="btn btn--stroke">Start a Campaign</a>
                </div>

                <p>
                    When you choose us, you're not just getting a press release—you're gaining a strategic partner dedicated to your success. Whether you're launching a new album, announcing a tour, or sharing a milestone achievement, our tailored approach ensures your story reaches the right audience at the right time.
                </p>
                <div class="row clients-testimonials" data-aos="fade-up">
                    <div class="col-full">
                        <div class="testimonials spotify-testimonial">

                            <div>
                                <img src="../static/images/press-release/seven.jpg" alt="Author image">
                            </div>
        
                            <div>
                                <img src="../static/images/press-release/eight.jpg" alt="Author image">
                            </div>
        
                            <div>
                                <img src="../static/images/press-release/nine.jpg" alt="Author image">
                            </div>
                            <div>
                                <img src="../static/images/press-release/ten.jpg" alt="Author image">
                            </div>
                            
                        </div><!-- end testimonials -->
                        
                    </div> <!-- end col-full -->
                </div> <!-- end client-testimonials -->
                <div class="stuff-button">
                    <a href="./plans" class="btn btn--stroke">Start a Campaign</a>
                </div>

                <p>
                    Join the ranks of satisfied artists who have benefited from our press release services. Let's collaborate to elevate your brand and make your next announcement a resounding success.                
                </p>
            </div>
        </div>
    </section>

    <!-- footer
    ================================================== -->
    {% include "components/footer.html" %}


    <!-- preloader
    ================================================== -->
    {% include "components/loader.html" %}


    <!-- Java Script
    ================================================== -->
    <!-- <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/jquery.sticky.js"></script>
    <script src="../static/js/main2.js"></script>
    <script src="../static/js/nav_script.js"></script> -->
    <script src="../static/js/alone.js"></script>
</body>

</html>