<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

{%include "components/header.html"%}

<body id="top" class="hero">

    <!-- header
    ================================================== -->
    {% include "components/navbar.html" %}

    <section style="padding-bottom: 0;" id="contact" class="s-contact">

        <div class="overlay"></div>
        <div class="contact__line"></div>
    
        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h1 class="display-2 display-2--light">Refund Policy</h1>
            </div>
        </div>
    </section>

    <!--PRIVACY POLICY SECTION HTML-->
    <div class="accordion__wrapper">
        <div class="privacy-policy">
            <p>
                If you do not get results after thirty days of using the service or a year subscription you are entitled to extend the growth plan until we hit your goals. Due to high overhead costs we do not provide refunds or partial refunds. 
            </p>
            <p>
                We do not refund users that keep the subscription running even if they forget or any other reason you are fully responsible to reach out to use to cancel your subscription you will receive monthly emails with a notice before the charge with a cancellation option. 
            </p>
            <p>
                We are not liable for charges if you forget to cancel. If you are not satisfied with the performance and results obtained we can extend the term of your plan.
            </p>

            <p>
                If you have acquired a subscription and are waiting to get set up and decide to cancel you are not eligible for a refund.
            </p>
        </div>
        
    </div>

   
    <!-- footer
    ================================================== -->
    {% include "components/footer.html" %}


    <!-- preloader
    ================================================== -->
    {% include "components/loader.html" %}


    <!-- Java Script
    ================================================== -->
    <!-- <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/jquery.sticky.js"></script>
    <script src="../static/js/main2.js"></script>
    <script src="../static/js/nav_script.js"></script> -->
    <script src="../static/js/alone.js"></script>
</body>

</html>