<div class="accordion__wrapper">
    <div class="accordion">
        <div class="accordion__header">
            <h2 class="accordion__question">WHEN WILL I SEE RESULTS AFTER I SIGN UP?</h2>
            <span class="accordion__icon">
                <i id="accordion-icon" class="ri-add-line"></i>
            </span>
        </div>
        <div class="accordion__content">
            <p class="accordion__answer">Once your account is all setup you will start seeing growth within 1-2 days & real results within the first week. Please keep in mind we attract authentic followers to your Instagram account as such growth is slow & steady. You will not receive thousands of fake followers instantaneously like some other services offer. Remember the turtle wins the race! Tip: You can increase your growth by upgrading your plan to the more robust business plans and working directly with our team of growth specialists.</p>
        </div>
    </div>
    
    <div class="accordion">
        <div class="accordion__header">
            <h2 class="accordion__question">ARE THE FOLLOWERS REAL?</h2>
            <span class="accordion__icon">
                <i id="accordion-icon" class="ri-add-line"></i>
            </span>
        </div>
        <div class="accordion__content">
            <p class="accordion__answer">Yes, absolutely! We do not sell instantaneous fake followers. We drive real followers that actually care about what you post to your account. You will be gaining authentic followers that are choosing to follow you. Remember the turtle wins the race! Tip: You can increase your growth by upgrading your plan to the more robust business plans and working directly with our team of growth specialists.</p>
        </div>
    </div>
    
    <div class="accordion">
        <div class="accordion__header">
            <h2 class="accordion__question">CAN I UPGRADE MY PLAN?</h2>
            <span class="accordion__icon">
                <i id="accordion-icon" class="ri-add-line"></i>
            </span>
        </div>
        <div class="accordion__content">
            <p class="accordion__answer">Please e-mail us or DM us to let us know what plan you would like to change or upgrade to and we can make the change. Please note that our plans are recurring so you have to make sure to tell us when you want to cancel or else you’ll be charged if you wish to cancel!</p>
        </div>
    </div>
    
    <div class="accordion">
        <div class="accordion__header">
            <h2 class="accordion__question">IS YOUR SERVICE SECURE?</h2>
            <span class="accordion__icon">
                <i id="accordion-icon" class="ri-add-line"></i>
            </span>
        </div>
        <div class="accordion__content">
            <p class="accordion__answer">Absolutely. Our account management team is always on the cutting edge of the best marketing tactics to use in compliance with Instagram policies and procedures. Your account is safe and secured with Our proxy and VPS servers.</p>
        </div>
    </div>
    
    <div class="accordion">
        <div class="accordion__header">
            <h2 class="accordion__question">DOES MY ENGAGEMENT INCREASE AS WELL?</h2>
            <span class="accordion__icon">
                <i id="accordion-icon" class="ri-add-line"></i>
            </span>
        </div>
        <div class="accordion__content">
            <p class="accordion__answer">Since we bring in genuine people to follow you, many of them will interact with your content. We can only promise an increase in engagement from the followers we bring. We do not guarantee engagement from the followers you acquired before working with us.</p>
        </div>
    </div>
    
    <div class="accordion">
        <div class="accordion__header">
            <h2 class="accordion__question">CAN I PAUSE MY SUBSCRIPTION?</h2>
            <span class="accordion__icon">
                <i id="accordion-icon" class="ri-add-line"></i>
            </span>
        </div>
        <div class="accordion__content">
            <p class="accordion__answer">You can pause your subscription at any moment. This is optimal, so you can keep your targeting and campaigns intact until you are ready to reboot your campaigns. Please allow 48 hours for this process to take on full effect.</p>
        </div>
    </div>
    
    <div class="accordion">
        <div class="accordion__header">
            <h2 class="accordion__question">CAN YOU GUARANTEE SPECIFIC RESULTS?</h2>
            <span class="accordion__icon">
                <i id="accordion-icon" class="ri-add-line"></i>
            </span>
        </div>
        <div class="accordion__content">
            <p class="accordion__answer">We can guarantee that you will grow a lot quicker with our marketing team. Due to the nature of all followers being real we do not guarantee a specific number of followers. However, most clients receive anywhere from 500 – 10,000 per month. This varies on niche, targeting, content, quality of your feed, etc. We can also keep your account running until you hit your projected package numbers.</p>
        </div>
    </div>
    
    <div class="accordion">
        <div class="accordion__header">
            <h2 class="accordion__question">WHAT MAKES NEXUSS MARKETING DIFFERENT?</h2>
            <span class="accordion__icon">
                <i id="accordion-icon" class="ri-add-line"></i>
            </span>
        </div>
        <div class="accordion__content">
            <p class="accordion__answer">Other services set you up and forget you as a client. Here at Zeus marketing we are hands-on with optimizing your growth. The longer you use Nexuss marketing the better your growth will be as we are constantly tweaking your account to ensure you are getting the best results. When you win, we win! We can actively filter ghost profiles and ensure you are only being followed by real Instagram users. Additionally, we have the best customer support. We will always respond within 24 hours to e-mail inquiries and DMs and you can setup a skype call with us to discuss your account. We care about your success and want to ensure you are satisfied with the results you are getting from us. Every account no matter what plan you are on will have a personalized account manager that is available to you to chat with.</p>
        </div>
    </div>
    

</div>